# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
astronomer-cosmos==1.10.0
astronomer-cosmos>=1.1.0
psycopg2-binary==2.9.10
pyodbc==5.2.0
dbt-postgres==1.9.0
python-dotenv==1.0.1
